<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="dbMovieBankEntities" connectionString="metadata=res://*/Models.MovieModel.csdl|res://*/Models.MovieModel.ssdl|res://*/Models.MovieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbMovieBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.MovieBankDbEntities.csdl|res://*/Models.MovieBankDbEntities.ssdl|res://*/Models.MovieBankDbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db.MovieBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MovieBankEntities" connectionString="metadata=res://*/Models.MovieModel.csdl|res://*/Models.MovieModel.ssdl|res://*/Models.MovieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db.MovieBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbMovieBank" connectionString="metadata=res://*/Models.MovieModel.csdl|res://*/Models.MovieModel.ssdl|res://*/Models.MovieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbMovieBank;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MovieBankDB" connectionString="metadata=res://*/Models.MovieModel.csdl|res://*/Models.MovieModel.ssdl|res://*/Models.MovieModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAS3\SQLEXPRESS2022;initial catalog=dbMovieBank;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>